body, html {
    height: 100%;
    margin: 0;
    padding: 0;
}

#map {
    width: 100%;
    height: 100%;
}

.leaflet-control-zoomlabel {
    background-color: rgba(255, 255, 255, 0.8); /* semi-transparent white background */
    border-radius: 8px; /* rounded corners */
    padding: 5px 10px; /* some padding for aesthetics */
    font-size: 14px; /* font size */
    font-weight: bold; /* make text bold */
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.4); /* subtle shadow for depth */
}
